body{
  margin: 0px;
  background-color: rgb(156, 156, 156)
}


#buttonsContainer button{
  text-align: center;
  font-size: 14px;
  margin: 10px;
  display: grid;
  justify-self: center;
  justify-content: center;
  width: 75vw;
  background-color: rgba(0, 0, 0, 0.125);
  border-radius: 5vw;
  transition: ease-in-out 100ms;
  height: 5.5vh;
  padding: 2px;
}

#buttonsContainer button:hover {
  background-color: rgba(0, 0, 0, 0.25);
  margin: 15px;
  height: 35px;
  font-size: 16px;
  padding: 5px;
}
